/*Style for the title*/
h1 {
    color:maroon;
    text-align: center;
    background-color: gray;
    font-size: 55px;
}

/* This changes the header color */
#test {
    color: black;
}

/* Changes the login button color */
#buttonColor {
    background-color: black; /* Changed the background color to black */
    color: white; /* Changed the word color to white */
}

button {
    width: 35px;
    height: 35px;
}

/*.jumbotron {
    
   padding-left: 400px;
   padding-right: 400px;
   padding-bottom: 25px;
   padding-top: 0px;
   height:40px;
   color:maroon;
  
}*/


