/*Style for the title*/
h1 {
    color:maroon;
    text-align: center;
    background-color: gray;
    font-size: 45px;
}

/* This changes the header color */
#test {
    color: red;
}

/* Changes the login button color */
#buttonColor {
    background-color: black; /* Changed the background color to black */
    color: white; /* Changed the word color to white */
}