  @import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

h1 {
    text-align: center;
    color:black;
    font-size: 45px;
    font-family: cursive;
    text-decoration: underline;
}
h2 {
    text-align: center;
}
body {
    background-image: url(../img/pizza.png);
}
#box {
    width:900px;
    height: 900px;
    margin: 0 auto;
    background-color: darkgray;
    padding:0px;
    border-radius: 50px;
    border-style: dashed;
}


