@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');


#fixed {
    padding-top: 80px;
    color:white;
}

#button {
    top:75px;
    left:950px;
    position:right;
    font-size:1.3em;
    background-color: transparent;
    border:none;
    outline:none; /*hides button outline when clicking on it*/
    font-weight:bold;
    color:silver;
    background-color: firebrick;
    cursor: pointer;
}

img {
    width: 250px;
    height: 250px;
}

body {
    background-image: url("../img/cool2.png");
}


h1 {
    font-family: fantasy;
    font-size: 43px;
    color:white;
    background-color: darkcyan;
    padding-top: 20px;
    padding-bottom: 10px;
 
}    

#outcome {
    color:white;
}

