    @import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

h1 {
    text-align:center;
    color:orange;
    font-size:45px;
    font-family: cursive;
    text-decoration:underline;
}

body {
    background:url("../img/cool.png");
}
footer {
    position:center;
    margin: auto; 
    padding-top: 10px;
    color:silver;
    font-size: 15px;
}
#main {
    font-family: 'Baloo Bhaina', cursive;
    position:relative;
    margin:0 auto;
}

input {
    top:75px;
    left:950px;
    position:right;
    font-size:1.3em;
    background-color: transparent;
    border:none;
    outline:none; /*hides button outline when clicking on it*/
    font-weight:bold;
    color:silver;
    background-color: black;
    cursor: pointer;
}
output {
    width:600px;
     margin:0 auto;
     position:absolute;
     text-align:center;
     top:450px;
     font-size:1.5em;
     line-height: .7em;
}
#test {
    /*width:300px;*/
     margin:0 auto;
     /*position:absolute;*/
     text-align:center;
     top:450px;
     font-size:1.5em;
     line-height: .7em;
}

#player1, #player2 {
     /*display: inline;*/
    position:relative;
    margin:0 auto;
    clear: both;
    text-align:center;
}
#fixed {
    text-align: center;
    color: silver;
}
img {
     width:250px;
     height:250px;
    }
#school {
    float:left;
    width:200px;
    height:115px;
    }
